.post-1 {
	background: #B71757;
}

.post-2 {
	background: #0D7E71;
}

.post-3 {
	background: #b1660e;
}

.post-4 {
	background: #d12767;
}

.post-5 {
	background: #2d95bb;
}

body {
	font-family: roboto;
}

a {
  display: block;
	text-decoration: none;
	color: #FFFFFF;
}

body {
	background-color: #0b192f;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	padding: 0 10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #162b4d;
	display: flex;
	justify-content: space-between;
}

body .container header .logo {
	padding: 1.5vw 0.9vw 2vw 1.3vw;
	color: #FFFFFF;
	font-weight: 300;
}

body .container header .logo span {
	color: #B71757;
}

body .container header nav ul {
	padding-right: 5vw;
}

body .container header nav ul li {
	list-style: none;
	display: inline-block;
	padding: 2.3vw 1vw 1.3vw 1vw;
	transition: all 0.5s ease-out;
	font-size: 18px;
	font-weight: 300;
}

main {
	display: flex;
	justify-content: space-between;
}

main .main-left {
	margin-top: 1.5vw;
	flex: 2 1 0;
}

main .main-item {
	display: flex;
	justify-content: space-around;
}

main .main-item img {
	width: 300px;
	flex: 1 1 0;
}

main .main-item .description-item {
	flex: 1 1 0;
	position: relative;
}

main .main-item .description-item .date-item {
	position: absolute;
	top: 0;
	right: 0;
	color: #FFFFFF;
	font-weight: 100;
}

main .main-item .description-item .date-item {
	font-size: 40px;
	padding: 10px;
	opacity: .5;
}

main .main-item .description-item span.month {
	font-size: 25px;
}

main .main-item .description-item h2 {
	font-size: 45px;
	font-weight: 200;
	width: 20px;
	padding: 20px 25px 0px 25px;
}

main .main-item .description-item h3 {
	font-size: 20px;
	font-weight: 100;
	line-height: 1.4;
	opacity: .8;
	padding: 25px 0px 21px 25px;
}

main .main-item .description-item.post-5 h2 {
	width: auto;
}

main .main-right {
	flex: 1 1 0;
}

main .main-item {
	transition: all 0.5s ease-out;
}

main .main-item:hover {
	opacity: .5;
}

main .main-right .main-right-item {
	background-color: #FFFFFF;
}

main .main-right .main-right-item {
	margin: 1.5vw 0 1.5vw 1.5vw;
}

main .main-right img.main-item {
	width: 100%;
}

.month {
	display: block;
}

main .main-right .main-right-item h2 {
	font-weight: 400;
	font-size: 36px;
	line-height: normal;
	color: #4B5565;
	padding: 21px 0px 0px 22px;
}

main .main-right .main-right-item h3 {
	font-weight: 100;
	font-size: 18px;
	color: #4B5565;
	text-align: left;
	padding: 16px 20px 12px 25px;
}

.main-item-5 .top-desc {
	color: #FFFFFF;
	font-size: 3vw;
	font-weight: 300;
	padding: 2vw;
}

.main-item-5 .bottom-desc {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 400;
	padding: 2vw;
	line-height: 1.5;
	opacity: .7;
}

footer {
	margin-top: 1.2vw;
	background-color: #162b4d;
	display: flex;
	justify-content: space-between;
	font-size: 25px;
	color: #55708A;
}

footer .footer-desc {
	padding: 30px;
}

footer .footer-coder p {
	padding: 30px;
	width: 240px;
}

body .container header nav ul li:hover {
	background-color: #0b192f;
}

main .main-item:nth-child(even) img {
	order: 1;
}

main .main-item:nth-child(even) .date-item {
	top: 0px;
	left: 0px;
}

main .main-item:nth-child(even) h2 {
	text-align: right;
	margin-left: 22px;
	width: 98%;
}

main .main-item:nth-child(even) h3 {
	text-align: right;
	width: 100%;
	padding-right: 20px;
}

.btn {
	border: none;
	background: none;
	display: none;
	transition: all .5s ease;
}

.btn span {
	display: block;
	width: 20px;
	height: 2px;
	background: #fff;
	margin: 5px 0;
}

.btn:before,
.btn:after {
	content: '';
	display: block;
	background: #fff;
	height: 2px;
}

main .main-left .main-item:hover>img {
	opacity: .5;
}

main .main-left .main-item img {
	transition: all 0.5s ease-out;
}

main .main-left .main-item img:hover {
	opacity: .5;
}

@media screen and (max-width: 1400px) {
	main .main-right .main-right-item h3 {
		padding: 23px;
	}
	main .main-left .description-item h3 {
		font-size: 18px;
	}
	main .main-right .main-right-item h3 {
		line-height: normal;
	}
	main .main-right .main-right-item h2 {
		font-size: 25px;
	}
}

@media screen and (max-width: 815px) {
	main .main-item .description-item h2 {
		font-size: 18px;
	}
}

@media screen and (max-width: 768px) {
	body header nav {
		display: none;
	}
	header {
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.btn {
		display: block;
		padding: 10px;
	}
	.btn:hover {
		background-color: #0b192f;
	}
	main .main-item .description-item h2 {
		font-size: 15px;
	}
	main .main-item {
		display: block;
	}
	main .main-item img {
		width: 100%;
	}
	main .main-item .description-item h2 {
		font-size: 40px;
		max-width: 400px;
		width: 100%;
	}
	main .main-item .description-item h3 {
		padding: 25px 25px 90px 25px;
	}
	main .main-item .description-item .date-item {
		top: auto;
		width: 100%;
		text-align: center;
		left: 0;
		right: 0;
		bottom: 0;
		top: auto;
		display: inline-block;
	}
	footer {
		padding: 25px;
		font-size: 15px;
		line-height: 1.5;
		display: block;
		text-align: center;
	}
	footer .footer-desc {
		padding: 0px;
		margin: 0 auto;
		width: 270px;
	}
	footer .footer-coder p {
		width: 133px;
		padding: 0px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 480px) {
	main {
		display: block;
	}
	main .main-right .main-right-item {
		margin-top: 5.5vw;
	}
}